@charset "utf-8";
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	font: 1.5vh normal Arial;
}
.container{
	width:90vw;

	max-width:3840px;
	min-width:900px;
	padding:4vmin;
	padding-bottom: 8vmin;
	margin:5vw 5vw;
	background-color:#d0d7d9;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 15px 3px rgba(0,0,0,.5);
}

h1{
	margin:10px 0 20px 0;
	font-size:2vmin;
}

.forma{
  display:flex;
  flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 3vmin;
}

.registr{
  display:flex;
  flex-flow: column nowrap;
	flex: 47% 0 0;
	align-items:flex-start;
}

.row, .row1, .row2{
	display:flex;
  flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 2vmin;
	justify-content: center;
	width: 90%;
}

.inputT, .inputP, .inputP2{
	border: none;
	border-bottom: 1px solid grey;
	background-color:#d0d7d9;
	margin-left: 1vmin;
}

.inputP{flex: 95% 0 0; width: 90%}
.inputP2{flex: 47% 0 0; width: 45%}
.inputT{flex: 50% 0 0; width: 45%}

.blck::placeholder{color:black;}

.reckt{
	border-radius: 0.25em;
	padding:.5vmin 2.5vmin;
	margin-right: .5vmin;
}

.white{color: white;}
.submit{
	background: #207373;
	margin: 2vmin 0;
	float: right;
}

.pic{
	width: 1.3em;
	height: 1.3em;
	flex: 3% 0 0;
}

.checked{
	border-bottom: 1px solid grey;
	padding-bottom: 2vmin;
}

#check1 + label, #check2 + label{
  font: 1.3vh normal sans-serif;
}

#check1, #check2{
	margin-right: .5vmin;
}
