

#corr, #ncorr,#deflt{         /*  стили для всех полей ввода   */
	border-radius: 0.25em;
	padding:.5vmin 1vmin;
}

#deflt{border: 1px solid black;}   /*  input в нетронутом состоянии   */

#corr{
	border: 1px solid green;         /*  input с корректными данными   */
	color:green;
}
#corr::placeholder{
	color:green;
	background: url(../pic/valid.png) no-repeat center right;
	background-size:7%;
}

#ncorr{                             /*  input с некорректными данными   */
	border: 1px solid red;
	border-radius: 0.25em;
	padding:.5vmin 1vmin;
	color:red;
}
#ncorr::placeholder{
	color:red;
	background: url(../pic/invalid.png) no-repeat center right;
	background-size:7%;
}




.custom-checkbox, .custom-checkboxN, .custom-radio, .custom-radioF {  /*  стили для всех чекбоксов   */
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label, .custom-checkboxN+label, .custom-radio+label, /*  .custom-checkbox - в состоянии включен    */
.custom-radioF+label                                                  /*  .custom-checkboxN - в состоянии выключен    */
 {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before,
.custom-checkboxN+label::before  {
  content: '';
  display: inline-block;
  width: 2em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 0.25em;
  margin-right: 0.5em;
}

.custom-checkbox+label::before{border: 1px solid green;}
.custom-checkboxN+label::before{border: 1px solid red;}

.custom-checkbox+label::after{
	content: '';
	display: inline-block;
	width: .9em;
	height: .9em;
	border-radius: 0.25em;
	background:green;
	position:relative;
	transform:translate(-6.45em, -.02em);
}

.custom-checkbox:checked + label:before {
	border: 1px solid red;
}
.custom-checkbox:checked + label:after {
	left:.95em;
	background:red;
}

.custom-checkbox:focus + label:before, .custom-checkboxN:focus + label:before,
 .custom-radio:focus + label:before, .custom-radioF:focus + label:before,
 {box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);}

.custom-checkboxN+label::after{
	content: '';
	display: inline-block;
	width: .9em;
	height: .9em;
	border-radius: 0.25em;
	background:red;
	position:relative;
	transform:translate(-5.5em, -.02em);
}

.custom-checkboxN:checked + label:before {border: 1px solid green;}
.custom-checkboxN:checked + label:after {right:.95em; background:green;}




.custom-radio+label::before,
.custom-radioF+label::before  {   /*  стили для кнопок радио   */
  content: '';                    /*  .custom-radio - в состоянии включен    */
  display: inline-block;          /*  .custom-radioF - в состоянии выключен    */
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 100%;
  margin:0 0.5em 0 1em;
	border: 1px solid green;
}

.custom-radio+label::after,
.custom-radioF+label::after  {
  content: '';
  display: inline-block;
  width: .9em;
  height: .9em;
  border-radius: 100%;
  background:green;
}

.custom-radio+label::after{
	position:relative;
	transform:translate(-3.55em, -.01em);
}

.custom-radioF+label::after{
	position:relative;
	transform:translateX(-4.48em);
	opacity: 0;
}

.custom-radio:checked + label::after {opacity: 0;}
.custom-radioF:checked + label::after {opacity: 1;}



.act, .plus{background:green;}  /*  стили для кнопок button   */
.hov{background: #2d543b;}
.dang, .minus{background: red;}
.hov1{background: #85293f;}
.disabl{background: grey;}

.circle{
	width: 2em;
  height: 2em;
	border-radius: 100%;
	padding:.5vmin .5vmin;
	margin-right: .5vmin;
}

.reckt{
	border-radius: 0.25em;
	padding:.5vmin 1.5vmin;
	margin-right: .5vmin;
}

.white{color: white;}

.disabl:hover{
	background:green;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}

.t_area::placeholder{padding:.5vmin 1.5vmin;} /*  стили для textarea   */

.t_area{
	resize: both;
	max-width: 600px;
	max-height: 150px;
	width: 400px;
	height: 150px;
	min-width: 200px;
	min-height: 100px;
}
